.container {
    /* background-color: rgb(226, 174, 40); */
    color: rgb(0, 0, 0);
}

.container-fluid {
    background-color: rgb(25, 181, 228);
}

/* ------  Stylisation de la section des drapeau avec du grid classique en CSS --------- */
/* Stylisation de la section des drapeau en mobile first */
div {
    border: 2px solid sandybrown;
}

#divSectionFlags{
    display: grid;
    grid-template-columns: 150px;
    gap: 10px;
    max-width: 200px; 
    margin: 2rem auto;
    display: flex
;
}

#divSectionFlags img {
    width: 200px;
}

/* Stylisation de la section des drapeau pour tous les écrans à partir de taille de tablette */
@media screen and (width >= 758px) {
    #divSectionFlags{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 2rem;
    min-width: 922px;
    margin: 2rem auto;
    padding: 39px;
} 

#divSectionFlags img {
    width: 300px;    
    min-width: 386px;
}
}

/* Stylisation du système de grille de Bootstrap */
article {
    border: 1px solid seagreen;
}


#sectionGridBootstrap {
    background-color: rgb(23, 200, 223);
    padding: 5px;
    text-align: center;
}

section {
    margin-top: 3rem;
}